NODE_ENV=test

# Express API port
PORT=3000

# Exact copy as your env, except that it points to another table
DB_HOST=localhost
DB_PORT=5433
DB_URL=postgresql://campus_user:your_password@127.0.0.1:5433/campus_resource_hub_test
POSTGRES_DB=campus_resource_hub_test
POSTGRES_USER=campus_user
POSTGRES_PASSWORD=your_password

# The jwt secret here is a simple string since we are working in an isolated test environment
JWT_SECRET=integration-test-secret
JWT_EXPIRES_IN=1h