* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #1f2937;

    background-image: url("/geometry.jpg");
    background-repeat: repeat;
    background-size: 350px 350px;
}

button {
    font: inherit;
}

a {
    color: inherit;
}